/* TABLE OF CONTENTS

    1. CARDS

      1.1 BLOG CARD
      1.2 PORTFOLIO CARD
      1.3 SOCIAL MEDIA CARD
      1.4 PAST CLIENT CARD
    
    2. GRIDS

      2.1 BLOG GRID
      2.2 GALLERY GRID
      2.3 SOCIAL MEDIA GRID
      2.4 PAST CLIENT GRID

    3. RESEPONSIVE DESIGN

      3.1 TABLET
      3.2 MOBILE
      3.3 PHOTO GRID

*/

/* -----------
    1. CARDS 
   ----------- */

.blog-card,
.portfolio-card {
  display: inline-block;
  margin: 1rem 1rem 2.5rem;
  background-color: rgb(253, 253, 253);
  text-align: left;
  border-radius: 2%;

  box-shadow: 0.05rem 0.05rem 0.6rem 0.05rem rgb(165, 165, 165);

  overflow: hidden;

  border: solid 1px rgb(204, 204, 204);

  position: relative;

  transition: all 0.25s ease-in-out;
}

.blog-card img,
.portfolio-card img {
  max-width: 100%;
  object-fit: cover;
}

.portfolio-card:hover,
.blog-card:hover {
  top: -2px;
  box-shadow: 0.25rem 0.25rem 1.25rem 0.25rem rgb(165, 165, 165);
}

/* 1.1 BLOG CARD */

.blog-card {
  max-width: 20rem;
  min-width: 17.5rem;
  max-height: 100%;
  height: 28rem;
}

.blog-card img {
  height: 12.5rem;
  border-radius: 2% 2% 0% 0%;
  border-bottom: solid 0.15rem rgb(70, 70, 70);
  object-position: 50% 20%;
}

.blog-card h3,
.blog-card h2 {
  margin: 0.5rem 0.2rem 0.3rem 0.4rem;
  font-size: 1.25rem;
  padding-top: 0rem;
}

.blog-card p {
  margin: 0.5rem 0.2rem 0.5rem 0.5rem;
}

.blog-card footer {
  width: 100%;

  border-top: solid 0.05rem rgb(194, 194, 194);

  background-color: #eeeeee;

  position: absolute;
  bottom: 0;
}

.theory-blog,
.character-blog,
.creative-blog,
.website-blog {
  padding: 0.1rem 0rem 0.1rem 0rem;
}

.theory-blog {
  color: rgb(224, 67, 67);
}

.character-blog {
  color: rgb(64, 201, 201);
}

.creative-blog {
  color: rgb(64, 96, 201);
}

.website-blog {
  color: rgb(201, 64, 201);
}

/* 1.2 PORTFOLIO CARD */

.portfolio-card {
  max-width: 39rem;
  min-width: 39rem;
  height: 18rem;
}

.portfolio-card img {
  height: 19em;
  width: 27em;
  border-left: solid 0.15rem rgb(70, 70, 70);
  object-position: 80% 50%;

  float: right;
}

.portfolio-card h3,
.portfolio-card h2 {
  font-size: 1.8rem;
  max-width: 100%;
  margin: 0.6em 0.1em 0.5em 0.5em;
  line-height: 1.2em;
}

.portfolio-card header {
  margin: 0em;
  max-width: 37%;
}

.portfolio-card p {
  margin: 1em 5em 10em 1em;
  text-align: left;
}

/* 1.3 SOCIAL MEDIA CARD */

.social-media-card a {
  display: inline-flex;
  margin: 1rem 1rem 2.5rem;
  flex-direction: row;
}

.social-media-card img {
  flex-direction: column;
  align-content: flex-start;
}

.social-media-card {
  flex-direction: column;
  text-align: left;
}

.social-media-card p {
  flex-direction: row;

  justify-content: right;
}

.social-media-card .social-media-card-info {
  padding-left: 1rem;
}

/* 1.4 PAST CLIENTS CARD */

.past-client-card {
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  margin-top: 1rem;
  border-bottom: 1px solid rgb(184, 184, 184);
}

.past-client-card img {
  align-self: flex-start;
  width: 10rem;
}

.past-client {
  justify-content: left;
  text-align: left;
}

.past-client h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.past-client p {
  margin-top: 0.5rem;
}

.client-about {
  margin-top: 0rem;
  padding-left: 1.5rem;
}

/* -----------
    2. GRIDS 
   ----------- */

.grid,
.social-media-grid,
.past-client-grid {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: inline-grid;
  grid-auto-rows: minmax(100vh, autofit);
}

/* 2.1 BLOG GRID */

.grid {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0% 1%;
}

/* 2.2 PHOTO GRID */

.photos {
  column-count: 4;
  column-gap: 0.7rem;
  margin: 2rem;
}

.photos img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.7rem;

  border-radius: 1.5%;
}

/* 2.3 SOCIAL MEDIA GRID */

.social-media-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2% 0%;
}

/* 2.4 PAST CLIENT GRID */

/*

.past-client-grid {
  max-width: 67.5rem;
  grid-template-columns: 1fr;
  text-align: right;
  margin-left: -10rem;
}

*/

/* ------------------------
    3. RESPONSIVE DESIGN 
   ------------------------ */

/* 3.1 TABLET - Based on the iPad */

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .social-media-grid {
    grid-template-columns: 1fr;
  }

  .photos {
    column-count: 3;
  }
}

/* 3.2 MOBILE - Based on iPhone X and other popular/similair devices */

@media only screen and (max-width: 768px) {
  .blog-card h3,
  .blog-card h2,
  .portfolio-card h3,
  .portfolio-card h2 {
    margin: 0.5rem 0.2rem 0.3rem 0.4rem;
    font-size: 1.25rem;
    text-align: left;
  }

  .portfolio-card {
    max-width: 20rem;
    min-width: 17.5rem;
    max-height: 100%;

    transition: all 0.25s ease-in-out;
    border: solid 0.05rem rgb(204, 204, 204);
  }

  .portfolio-card img {
    height: 10rem;
    border-radius: 2% 2% 0% 0%;
    object-position: 50% 20%;
    border-bottom: solid 2px rgb(70, 70, 70);
  }

  .portfolio-card header {
    margin-top: 1em;
    max-width: 100%;
  }

  .portfolio-card h3,
  .portfolio-card h2 {
    padding-top: 10rem;
  }

  .portfolio-card p {
    margin: 0.5rem 0.2rem 0.5rem 0.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-left: 0rem;
    padding-left: 0rem;
  }

  .photos {
    column-count: 2;
  }

  .social-media-card a {
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .social-media-card .social-media-card-info {
    padding-left: 0rem;
  }

  .social-media-grid {
    text-align: center;
    padding-left: 0rem;
  }

  .social-media-card-info h3 {
    padding-left: 0rem;
  }

  .social-media-card img {
    text-align: right;
    justify-content: center;
  }

  .past-client-card {
    flex-direction: column;
  }

  .client-about {
    padding-left: 0rem;
    padding-top: 0.5rem;
  }
}

/* 3.3 PHOTO GRID */

@media (max-width: 400px) {
  .photos {
    column-count: 1;
  }
}
