body {
  margin: auto;
  width: auto;
  text-align: center;

  background-color: #f7f7f7;

  font-family: helvetica, arial, sans-serif;
}

.header-nav {
  top: 0em;
  text-align: left;
  position: sticky;
  width: 100%;
  z-index: 1;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  display: inline;
}

h1 {
  font-size: 80px;
}

nav ul {
  list-style: none;
  display: inline-block;

  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-bottom: #f1f1f1 solid 1px;

  box-shadow: 0 1px 1px 1px rgba(224, 224, 224, 0.2);
}

.logo {
  float: left;
  padding: 0.4em;
  padding-left: 1em;
}

.navItems {
  float: right;
  position: relative;
}

.navItems a {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 4.5em;
  border-left: #d3d3d3 solid 1px;
}

.navItems a:after {
  content: "";
  position: absolute;
  top: -10%;
  left: 0%;
  width: 100%;
  height: 110%;
  /* outline: 1px solid pink; */
}

nav li a {
  color: black;

  transition: color 0.2s;
}

nav li a:hover {
  color: rgb(126, 126, 126);
}

/* FOOTER */

.footer {
  background-color: #e6e6e6;
  padding-bottom: 0;
  width: 100%;
  padding: 2px 0 2px 0;

  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.2);

  color: #4c4c4e;
}

/*
.referenceItem a {
  padding-left: 2em;
  padding-right: 2em;
  border-left: #979797 solid 1px;
  border-right: #979797 solid 1px;
}
*/

.referenceItem a {
  color: #4c4c4e;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

.referenceItem a:hover {
  border-bottom-color: #4c4c4e;
}

.footer li a {
  padding: 25px;
}

/* HOMEPAGE BANNER */

.bannerContainer {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40em;
  text-align: left;
}

.bannerImage {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: #d3d3d3;
  mix-blend-mode: multiply;
}

.bannerText {
  font-size: 20px;
  text-align: center;

  margin-top: 4em;

  color: white;
}

.bannerText p {
  font-size: 25px;
  text-align: center;

  margin-top: 100px;
  line-height: 22em;

  color: white;
}

/* BACK TO TOP LINK */

.backToTopLink {
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  align-items: center;
  justify-content: center;
  margin: 0 0.7em 0.7em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: rgb(83, 83, 83);
}

.backToTopLink .show {
  visibility: visible;
  opacity: 1;
}

.backToTopLink .hide {
  visibility: hidden;
  opacity: 0;
}

.backToTopLink:hover {
  color: rgb(150, 150, 150);
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1024px) {
  .bannerText {
    margin-top: 2em;
  }
  .bannerText h1 {
    font-size: 3.5em;
  }
  .bannerText p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 768px) {
  .bannerText {
  }
  .bannerText h1 {
    font-size: 3em;
  }
  .bannerText p {
    line-height: 29em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .bannerText {
  }
  .bannerText h1 {
    font-size: 3em;
  }
  .bannerText p {
    line-height: 29em;
    font-size: 1em;
  }
}
